<footer class="page-footer text-center font-small mt-4 wow fadeIn">

  <hr class="my-4 mb-4">

  <!-- Github Repo Link -->
  <a href="https://github.com/Jjack703/DjangoProject-CITP4350" target="_blank">
    <i class="fab fa-github mr-3 h3"></i>
  </a>
  </div>
  <!-- Github Repo Link -->

  <!--Copyright-->
  <div class="footer-copyright my-3 py-3">
    This site was built for educational purposes </br>Course: CITP 4350 </br>By:
    <a href="#" target="_blank"> Jonathan Jackson </a>
  </div>
  <!--/.Copyright-->

</footer>